# SPDX-FileCopyrightText: 2024-2025 OPass
# SPDX-License-Identifier: GPL-3.0-only

name: CI
on: [push, pull_request]

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: 21
          cache: 'gradle'

      - name: Build Android
        run: ./gradlew assembleRelease

  build-ios:
    runs-on: macos-26
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: corretto
          java-version: 21
          cache: gradle

      - name: Select Xcode 26.1
        run: sudo xcode-select --switch /Applications/Xcode_26.1.app

      - name: Build iOS
        run: |
          xcodebuild \
            -project iosApp/OPass.xcodeproj \
            -scheme OPass \
            -configuration Debug \
            -destination "platform=iOS Simulator,name=iPhone 17 Pro Max,OS=latest" \
            build
